<!-- View för att visa vilka produkter som finns i vår webshop -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Webshop</title>
</head>

<body>
    <h1>Products gallery</h1>
    <ul>
        <li>Phone</li>
        <li>Car</li>
        <li>Table</li>
        <li>Cat</li>
        <li>Baby</li>
    </ul>
    <form action="/product" method="post">
        <input type="text" name="name" />
        <input type="text" name="price" />
        <input type="text" name="description" />
        <input type="text" name="imgUrl" />
        <button type="submit">Add product</button>
    </form>
</body>

</html>